/*Background Color */
body {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    position: relative;
    top: 300px;
}
input {
    width: 260px;
}

button {
    border: none;
    color: rgb(0, 0, 0);
    padding: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

#tech {
    background-color: rgb(167, 167, 167);
}

#enter {
    background-color: rgb(255, 128, 128);
}